@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<titlle>More resources</titlle>
<meta name="keywords" content="Yuzuru Hanyu,accounts,twitter, youtube, microblog">
<link rel="stylesheet" href="~/Content/css/publicity.css">


<div class="wholewidth main-p">
    <div class="how">How to know more?</div>
    <div class="mywords">
        The information provided on this website is limited, if you want to know more about Mr. Yuzuru Hanyu in more detail,
        here are some ways to do so<br />
        If you have any questions or comments about this website, please feel free to contact me <a href="mailto:2560934741@qq.com">2560934741@qq.com</a>

    </div>
    <hr />
    <div>
        <div class="web web1">
            <div class="content">
                <div class="web-name">For Instagram users</div>
                <p class="t1">Personal official account : &nbsp;    <span class="special">   yuzuruofficial; &nbsp; </span></p>
            </div>
            <div class="p1">
                <div class="image-container">
                    <img src="~/Content/img/web-1.jpg" />
                </div>
            </div>
        </div>
        <div class="web web2">

            <div class="web-name">For Twitter users</div>
            <p class="t1">
                Personal official account : &nbsp; <span class="special">   羽生Y弦official_Staff 公式</span><br />
                Prologue's(ice show) official account :  &nbsp;  <span class="special">  『プロロ`グ』</span><br />
                GIFT's(ice show) official account :  &nbsp;  <span class="special">   Yuzuru Hanyu ICE STORY 2023 "GIFT"</span><br />
                notte stellata's(ice show) official account : &nbsp;   <span class="special">   notte stellata</span><br />
                "RR_PARTY" Tour's(ice show) offical account :  &nbsp;  <span class="special">Yuzuru Hanyu ICE STORY 2nd "RE_PRAY"TOUR</span><br />
            </p>

        </div>
        <div class="p2">
            <div class="image-container">
                <img src="~/Content/img/web-2.jpg" />
            </div>
        </div>
        <div class="web">
            <div class="web-name">For YouTube users</div>
            <p class="t1">
                Personal official account : &nbsp;<span class="special"> HANYU YUZURU</span><br />
                Prologue's(ice show) official account : &nbsp;<span class="special">プロロ`グ PROLOGUE</span>
            </p>
        </div>
        <div class="p3">
            <div class="image-container">
                <img src="~/Content/img/web-3.jpg" />
            </div>
        </div>
        <div class="web">
            <div class="web-name">For Microbloggers</div>
            <p class="t1">A fan account : &nbsp;<span class="special">羽生结弦InfoStation</span><br /></p>
            <p class="t1">You can find almost everything about Haneu from the age of 14 to the present.</p>
        </div>
        <div class="p4">
            <div class="image-container">
                <img src="~/Content/img/web-4.jpg" />
            </div>
        </div>
    </div>
</div>
