@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/home1")

<titlle>General Introduction</titlle>
<meta name="keywords" content="Yuzuru Hanyu, figure skater, Japanese athlete, Olympic champion">

<link rel="stylesheet" href="~/Content/css/layout.css">
<link rel="stylesheet" href="~/Content/css/home1.css">

<div class="banner">
    <ul class="imgBox">
        <li class="slider active"><img src="~/Content/img/slider-1.jpg" /></li>
        <li class="slider"><img src="~/Content/img/slider-2.jpg" /></li>
        <li class="slider active"><img src="~/Content/img/slider-3.jpg" /></li>
        <li class="slider"><img src="~/Content/img/slider-4.jpg" /></li>

    </ul>
</div>

<div class="main wholewidth ">
    <div class="profile" id="profile">
        <div class="pro-image">
            <div>
                <img src="~/Content/img/pro-1.jpg" />
                <p>PyeongChang Winter Olympics</p>
            </div>
            <div>
                <img src="~/Content/img/pro-2.jpg" />
                <p>National honor award winner</p>
            </div>
        </div>
        <div class="content">
            <p class="indent">
                <em>Yuzuru Hanyu,</em> born on December 7, 1994, in Sendai, Miyagi Prefecture, Japan, is a Japanese <span class="blue">figure skater</span> in the men's singles category.
            </p>
            <p class="indent">
                In February 2014, at the young age of 19, Yuzuru Hanyu won the <span class="blue">Sochi Winter Olympics</span>, becoming the first <span class="blue">Asian</span> male singles figure skating champion. In March, he completed the <span class="blue">Grand Slam</span> of Olympic Games, World Championships, and Grand Prix Final titles.
                In 2016, he achieved a <span class="blue">four-time consecutive Grand Prix victory</span>. In April 2017, he once again secured the World Figure Skating Championship title.
                In February 2018, he became the <span class="blue">PyeongChang Winter Olympics men's singles figure skating champion</span>, becoming the first figure skater in <span class="blue">66 years to defend the Winter Olympics men's singles title</span>.

            </p>
            <p class="indent">
                Yuzuru Hanyu has <span class="blue">broken world records 19 times</span>, recognized by the International Skating Union (ISU) as the first person to complete the <span class="blue">quadruple axel jump</span> in international competition;
                He is also the first in the history of figure skating to sweep major international competitions in the men's singles event
            </p>
            <p class="indent">
                On April 28, 2018, Yuzuru Hanyu was awarded the <span class="blue">Japanese government's "Order of the Purple Ribbon"</span>;
                On June 1, the Japanese government decided to grant figure skater Yuzuru Hanyu, the defending Winter Olympics champion, the <span class="blue">National Honor Award</span>; and in December, he was named one of the <span class="blue">"Top Ten International Athletes of 2018"</span> by the Xinhua Sports Department. [107]
            </p>
            <p class="indent">
                In 2022, he participated in the <span class="blue">Beijing Winter Olympics</span>, challenging the <span class="blue">
                    quadruple axel jump, the ultimate limit of human ability
                </span>
                although he did not win a medal, Yuzuru Hanyu grasped the <span class="blue">"Pride of Yuzuru Hanyu"</span>, rising above greatness, Yuzuru Hanyu.
            </p>
            <p class="indent">
                On July 19, 2022,Yuzuru Hanyu announced that he will no longer participate in competitions but will continue as a <span class="blue">professional figure skater</span>. [132-134]
            </p>
        </div>
    </div>
    <div class="Chronicle-part" id="chronicle">
        <div class="chronicle">
            <div class="blueblock"></div>
            <div id="da">
                Chronicle of Events
                <div class="horizontalline"></div>
            </div>
            <div class="chronicle-content">
                <div class="list-item">
                    <div class="circle-line">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <img src="~/Content/img/chronicle-1.png" />
                        <div class="date">2023-8-4</div>
                        <div class="description">Yuzuru Hanyu announced her marriage through the studio.</div>
                        <div class="detail">On the evening of August 4th, Yuzuru Hanyu announced her marriage through the studio, I will go all out with everyone who supports me and skating."</div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="circle-line">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <img src="~/Content/img/chronicle-2.jpg" />
                        <div class="date">2020-7-11</div>
                        <div class="description">Become the first person in the history of figure skating to have a super slam.</div>
                        <div class="detail">
                            He became the first person in the history of figure skating to win the men's singles events in the Olympic Games, World Championships,
                            Grand Prix Finals, Four Continents Championships, World Youth Championships, Youth Finals and other international competitions.
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="circle-line">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <img src="~/Content/img/chronicle-3.jpg" />
                        <div class="date">2018-2</div>
                        <div class="description">Won the men's singles championship of flower skating in PyeongChang Winter Olympics.</div>
                        <div class="detail">
                            In February 2018, Yuzuru Hanyu won the men's singles figure skating championship in Pyeongchang Winter Olympics,
                            becoming the first figure skater to win the men's singles championship in the Winter Olympics in 66 years.
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="circle-line">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <img src="~/Content/img/chronicle-4.jpg" />
                        <div class="date">2014-3</div>
                        <div class="description">Achieve a grand slam.</div>
                        <div class="detail">
                            In March 2014, Yuzuru Hanyu won the World Figure Skating Championship and achieved the Grand Slam in the finals of the Olympic Games,
                            World Championships and Grand Prix.
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="circle-line">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <img src="~/Content/img/chronicle-5.jpg" />
                        <div class="date">2014-2</div>
                        <div class="description">Won the men's singles championship of flower skating in SoChi Winter Olympics.</div>
                        <div class="detail">
                            In February, 2014, Yuzuru Hanyu won the men's singles title in figure skating in Sochi Winter Olympics,
                            breaking the world record of short events in men's singles and becoming the youngest Olympic champion in men's singles in 66 years.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Social-part" id="social">
        <div class="chronicle">
            <div class="blueblock"></div>
            <div id="da">
                Social Evaluation
                <div class="horizontalline"></div>
            </div>
            <div class="society-content">
                <div class="society-image">
                    <img src="~/Content/img/society.jpg" alt="Image">
                </div>
                <div class="society-text">
                    <p>   <em1>Yuzuru Hanyu,</em1> is a figure skater with high talent. <br /></p>
                    <p>
                        He interprets Romeo and Juliet, a classic love-themed program, with delicate performances and sincere feelings,  and puts into performance with skillful footwork and passion.
                    </p>
                    <p>
                        Yuzuru Hanyu's talent is that he not only has strong jumping ability,
                        but also has flexibility that other male players don't have. He can do Berman spin
                        which many female players can't do. In the program, he also joined many female players' difficult joint movements.
                        Some people may think that his performance style is slightly feminine,
                        but he does have a distinctive performance style and difficult rotation and joint movements that others do not have.
                    </p>
                    <p>
                        He is a new ice idol with good strength and appearance. Foreign media once commented on Yuzuru Hanyu: "Yuzuru Hanyu is an artist.
                        Everything he does on the ice, the way he makes every movement, is really extremely pleasant. And obviously, he is the most popular.
                    </p>
                    <p>
                        People buy tickets just to see him, and often don't care about such a small thing (money) at all, because you can enjoy the whole process.
                        "His performance is a perfect combination of elegance and rage, and at the same time, it has the competitive difficulty that makes people stunned and the
                        fascinating artistic appeal.
                    </p>
                    <p>
                        He is a dominant existence, and some people say that he is like Michael Jackson on ice. " In a word, Hanyu is the perfect representative of "the integration of technology and beauty". <br />
                        Yuzuru Hanyu's ice ballet has a strong artistic appeal, and has an idol charm and spiritual strength. He is slender and has excellent flexibility.
                    </p>
                    <p>
                        In addition, he received ballet training when he was young, and his posture on the ice is open and open, and his limbs are classical and beautiful. He is gifted, resolute, diligent and never gives up, and often presents a beautiful sense of music and artistic expression on the court .
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="picture-scroller wholewidth" id="pictures">
    <div class="container">
        <ul class="scroller-ul">
            <li class="scroller-li"><img src="~/Content/img/Scan-Advertising.jpg" alt=""></li>
            <li class="scroller-li"><img src="~/Content/img/Scan-Award.jpg" alt=""></li>
            <li class="scroller-li"><img src="~/Content/img/Scan-IceShow.jpg" alt=""></li>
            <li class="scroller-li"><img src="~/Content/img/Scan-Life.jpg" alt=""></li>
            <li class="scroller-li"><img src="~/Content/img/Scan-Match.jpg" alt=""></li>
            <li class="scroller-li"><img src="~/Content/img/Scan-Practice.jpg" alt=""></li>
        </ul>
    </div>
</div>

<div class="anchor-links">
    <a href="#profile" class="action-link">Profile </a>
    <a href="#chronicle" class="action-link">Events</a>
    <a href="#social" class="action-link">Evaluation</a>
    <a href="#pictures" class="action-link">Pictures</a>
</div>


@Scripts.Render("~/bundles/home1_js")








