@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<titlle>Activities after retirement</titlle>
<meta name="keywords" content="Yuzuru Hanyu, ice show">
<link rel="stylesheet" href="~/Content/css/layout.css">
<link rel="stylesheet" href="~/Content/css/home2.css">

<body>
    <div class="banner">
        <img src="~/Content/img/banner.jpg" ,alt="banner.jpg" />
    </div>


    <div class="retirement-banner1">
        <div class="main-part">
            <div class="prologue-content">
                <div class="chronicle">
                    <div class="blueblock"></div>
                    <div id="da">
                        ICE SHOW ¡ª¡ª Prologue
                    </div>
                </div>
                <div class="prologue-main">
                    <div class="prologue-left-image">
                        <img src="~/Content/img/prologue-left.jpg" />
                    </div>
                    <div class="prologue-center">
                        <div class="prologue-centerimage">
                            <img src="~/Content/img/prologue-center.jpg" />
                        </div>
                        <div class="word">
                            <p class="indent">
                                <span class="blue">[Ice Show Prologue]</span><br />Hanyu Yuzuru will hold the first solo ice show "Prologue",<br />
                                The ice show will take place in Yokohama and Hachinohe in December 2022.
                            </p>
                            <p>
                                ¡¾Artist¡¿ Yuzuru Hanyu
                            </p>

                            <div id="a">¡¾Message from Yuzuru Hanyu¡¿</div>
                            <p class="indent">
                                In order to give you a sense of my history so far and my skating career itself,<br />
                                I planned this ice show with this in mind.This is the first time <br />
                                I've done everything on my own. The title is "Prologue."<br />
                                With the idea that "I hope to weave a variety of stories in the future"<br />
                                and "I hope this ice play will be the" prelude "to that story," I will do my best.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prologue-content">
                <div class="chronicle">
                    <div class="blueblock"></div>
                    <div id="da">
                        ICE SHOW ¡ª¡ª GIFT
                    </div>
                </div>
                <div class="prologue-main">
                    <div class="prologue-left-image">
                        <img src="~/Content/img/GIFT-left.jpg" />
                    </div>
                    <div class="prologue-center">
                        <div class="prologue-centerimage">
                            <img src="~/Content/img/GIFT-center.jpg" />
                        </div>
                        <div class="word">
                            <p class="indent">
                                <span class="blue">[Ice Show GIFT]</span><br />Hanyu Yuzuru will hold the second solo ice show "GIFT",<br />
                                The ice show will take place in Tokyo Dome in Februrary 2023.
                            </p>
                            <p>
                                ¡¾Artist¡¿ Yuzuru Hanyu
                            </p>

                            <div id="a">¡¾Message from Yuzuru Hanyu¡¿</div>
                            <p class="indent">
                                Hello, I'm Yuzuru Hanyu. "GIFT" will be held in Tokyo Dome on February 26th, 2023.<br />
                                I embellished the language into a story for the first time myself. <br />
                                The programs in this story hope to be gifts for everyone,<br />
                                and I will go skating with such expectations. Please be sure to look forward to it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prologue-video">
                <div class="prologue-v">
                    <video class="myVideo" controls>
                        <source src="~/Content/video/prologue-1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>
                        The story behind Prologue
                    </p>
                </div>
                <div class="prologue-v">
                    <video class="myVideo" controls>
                        <source src="~/Content/video/prologue-2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>Interview with "Prologue"</p>
                </div>
                <div class="prologue-v">
                    <video class="myVideo" controls>
                        <source src="~/Content/video/prologue-3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>Hanyu's speech on show</p>
                </div>
                <div class="prologue-v myvideo2">
                    <video class="myVideo" controls>
                        <source src="~/Content/video/Gift-1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>
                        Yuzuru Hanyu's comments
                    </p>
                </div>
                <div class="prologue-v myvideo2">
                    <video class="myVideo" controls>
                        <source src="~/Content/video/Gift-2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>Picture book of GIFT</p>
                </div>
                <div class="prologue-v myvideo2">
                    <video class="myVideo" controls>
                        <source src="~/Content/video/Gift-3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p>Live footage of GIFT</p>
                </div>
            </div>
        </div>

    </div>
</body>


